@using UrunStokTakip.Models
@model List<Sepet>
@{
    ViewBag.Title = "HepsiniSatinAl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="container">
        <h2>Merhaba @Session["Ad"] @Session["Soyad"] Satın Alma Sayfasına Hoşgeldiniz.</h2>
    </div>

    <div class="container">
    @using (Html.BeginForm("HepsiniSatinAl2", "Satis", FormMethod.Post, new { @class = "container" }))
    {
        foreach (var item in Model)
        {
            <div class="form-group">
                <h5> ID : @Html.DisplayFor(x => item.Id)</h5>
            </div>

            <div class="form-group">
                <h5> Ürün ID : @Html.DisplayFor(x => item.Urun.Id)</h5>
            </div>

            <div class="form-group">
                <h5> Adet : @Html.DisplayFor(x => item.Adet)</h5>
            </div>

            <div class="form-group">
                <h5> Fiyat : @Html.DisplayFor(x => item.Fiyat)</h5>
            </div>

            <div class="form-group">
                <h5><img src="~/Content/Image/@item.Urun.Resim" width="50" height="50"></h5>
            </div>
        }

        <p style="color:red;text-align:center">@ViewBag.Tutar</p>

        <div class="container">
            <div class="form-group" style="float:left">
                <button class="btn btn-success">Onay</button>
            </div>

            <div style="float:right">
                <a href="/Sepet/Index" class="btn btn-danger">İptal</a>
            </div>

        </div>
    }
</div>
</div>

