@using UrunStokTakip.Models
@model  List<Urun> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="~/Urun/Ekle" class="btn btn-primary">Ekle</a>
<br/>
<br/>
<table class="table table-bordered">
    <tr>
        <th>Resim</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Popüler</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Kategori</th>
      <!--  @if (User.IsInRole("Admin"))
        {} -->
            <th>Sil</th>
            <th>Düzenle</th>
        
      <!--  @if (User.IsInRole("User"))
        {} -->
            <th>Sepete Ekle</th>
        

    </tr>
       
       @foreach(var item in Model)
            {
<tr>
    <td><img src="~/Content/Image/@item.Resim" width="80" height="80"></td>
    <td>@item.Ad</td>
    <td>@item.Aciklama</td>
   <td>
    @if (item.Populer == true)
    {
        <label class="btn btn-success">Evet</label>
    }
    else
    {
        <label class="btn btn-danger">Hayır</label>
    }
    </td>
    <td>@item.Fiyat</td>
    <td>@item.Stok</td>
    <td>@item.Kategori.Ad</td>

   <!-- @if (User.IsInRole("Admin"))
    { } -->
    <td><a href="/Urun/Sil/@item.Id">Sil</a></td>
    <td><a href="/Urun/Guncelle/@item.Id" class="btn btn-warning">Düzenle</a></td>
    
   <!-- @if (User.IsInRole("User"))
    { } -->
     <td><a href="/Sepet/SepeteEkle/@item.Id" class="btn btn-success">Sepete Ekle</a></td>
</tr>
         }


</table>

